// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal {
    display: none; // Hidden by default
    position: fixed; // Stay in place
    z-index: 99999; // Sit on top
    left: 200px;
    top: 200px;
    width: 100%; // Full width
    height: 100%; // Full height
    overflow: auto; // Enable scroll if needed
    background-color: black; // Fallback color
    background-color: rgba(black, 0.4); // Black w/ opacity
  }
